<div class="d-flex flex-wrap gap-2 justify-content-center">
  {% for category in include.categories %}
    <a class="btn btn-sm btn-outline-success mt-0 --fw-500">{{ category }}</a>
  {% endfor %}
</div>
