/** Font Oxanium */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/** Font 'JetBrains Mono' */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;700&display=swap');


:root {
  --bg-main:#121212;
  --bg-surface:#1E1E1E;
  --bg-dark-code: #5e5e68dc;

  --text-white: #FFFFFF;
  --text-primary:#FFFFFFDE;
  --text-secondary:#FFFFFF99;
  --text-disabled:#FFFFFF61;

  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --color-primary:#4CAF50;
  --divider:#FFFFFF1F;

  --color-dark-code: #FEFEFE;
  
  /* --color-glass-php: #8892BE; */
  --color-glass-php: #4F5B93;
  --color-glass-ruby:#D16660;
  --color-glass-code:#5E5E68DC;
}

.w-80 {
  width: 80% !important;
}

.w-85 {
  width: 85% !important;
}

.w-90 {
  width: 90% !important;
}

.--bg-primary {
  background-color: var(--bg-main);
}

.--bg-secondary {
  background-color: var(--bg-surface);
}

.--text-primary {
  color: var(--text-primary);
}

.--text-secondary {
  color: var(--text-secondary);
}

.--fw-300 {
  font-weight: var(--font-weight-300)
}

.--fw-400 {
  font-weight: var(--font-weight-400)
}

.--fw-500 {
  font-weight: var(--font-weight-500)
}

.--fw-600 {
  font-weight: var(--font-weight-600)
}

.--fw-700 {
  font-weight: var(--font-weight-700)
}

.--fw-800 {
  font-weight: var(--font-weight-800)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oxanium', sans-serif;
}

code {
  font-family: 'JetBrains Mono', 'monospace';
  font-size: 0.9em;
  padding-top: 1.5em !important;
  padding-left: 1.5em !important;
  padding-bottom: 1.5em !important;
  border-radius: 0.4em;
}

.--p {
  color: var(--text-primary);
  line-height: 2em;
}

.--card-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.--code-container {
  position: relative;
  padding-top: 0.7em;
}

.--code-header {
  position: absolute;
  top: 0;
  right: 1.5em;
  border-radius: 10%;
}

.--copy-button {
  position: absolute;
  bottom: 2em;
  right: 1.5em;

  opacity: 0.7;
  cursor: pointer;
  font-size: 0.9em;
  
  border: none;
  border-radius: 0.2em;
  padding: 0.3em 0.6em;

  color: var(--text-white);
  background: var(--color-glass-code);
}

.--copy-button:hover {
  opacity: 1;
}

.--tag-lang-text {
  background: var(--color-glass-code);
}

.--tag-lang-plaintext {
  background: var(--color-glass-code);
}

.--tag-lang-code {
  background: var(--color-glass-code);
}

.--tag-lang-ruby {
  background: var(--color-glass-ruby);
}

.--tag-lang-php {
  background: var(--color-glass-php);
}

.--tag-lang {
  font-family: monospace;
  font-size: 0.8em;
  font-weight: var(--font-weight-700);
  color: var(--text-white);
  padding: 0.2em 0.5em;
  border-radius: 10%;
  text-transform: uppercase;
}