<div class="card card-size">
  <a href="{{ include.url }}" class="card-link">
    <img src="{{ include.thumbnail }}" class="card-img-top" alt="Thumbnail">
    <div class="card-body">
      <div class="text-center">
        <h5 class="card-title">{{ include.title }}</h5>
        <p class="card-text">{{ include.describe }}</p>
      </div>
    </div>
  </a>
</div>