<!DOCTYPE html>

<html lang="{{ site.lang }}">

  <head>
      <meta charset="{{ site.charset }}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <title>{{ page.title }}</title>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/atom-one-dark.min.css">
      <link rel="stylesheet" href="{{ site.data.assets.css | relative_url }}">

      {% seo %}
  </head>

  <body class="d-flex flex-column min-vh-100 --bg-primary">

    <header class="my-4">
      <nav class="navbar navbar-expand-lg navbar-dark" role="navigation">

        <div class="container-fluid w-80">
          
          <div class="me-auto">
            <a class="navbar-brand --text-primary" href="{{ site.data.routes.home }}">{{ site.data.strings.name }}</a>
          </div>

          <div class="collapse navbar-collapse">

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link --fw-600 --text-primary" href="{{ site.data.routes.about }}">{{ site.data.strings.about }}</a>
              </li>  
            </ul>
            
          </div>

        </div>

      </nav>
    </header>

    <main class="d-flex flex-grow-1">
      <div class="container-fluid w-85">
        {{ content }}
      </div>
    </main>

    <footer class="py-3 --bg-secondary">

      <div class="container">
        <div class="text-center">
          {% include components/buttons/GithubButton.liquid %}
          {% include components/buttons/InstagramButton.liquid %}
        </div>
        <div class="text-center --text-primary">
          {{ site.data.strings.copyright }}
        </div>
      </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

    <script text="javascript">
      document.addEventListener('DOMContentLoaded', () => {
        hljs.registerAliases(['code'], { languageName: 'plaintext' });
        hljs.highlightAll();
      });
    </script>

    <script text="javascript">
      document.querySelectorAll('.--copy-button').forEach((item) => {
        item.addEventListener('click', () => {

          const code = item.previousElementSibling.querySelector('code').innerText;

          navigator.clipboard.writeText(code);

          const icon = item.firstElementChild

          icon.classList.remove('bi-copy')
          icon.classList.add('bi-check2-square')

          setTimeout(() => {
            icon.classList.remove('bi-check2-square')
            icon.classList.add('bi-copy')
          }, 1500)

        })
      })
    </script>

  </body>

</html>